<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluation Dashboard</title>
    {% load static %}

    <link rel="stylesheet" href="{% static '/dashboard/style.css' %}">
    
</head>


<body>
    <div class="header">
        <div class="links">
            <a href="">Overview</a>
            <a href="">Graphs</a>
            <a href="">Statistics</a>
        </div>  
            <a href=""></a>
            
           
    </div>

    
    <div class="main">
        <div class="sidebar"> </div>
        
        <div class="verticalLine"></div>
        <div class="mainbar">
           
            <ul>
                {% for uploaded_file in uploaded_files %}
                    <li>{{ uploaded_file.file }}</li>
                {% endfor %}
            </ul>
           

        </div>
    </div>
    
    <script src="{% static 'dashboard/scripts.js' %}"></script>
</body>
</html>