<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluation Dashboard</title>
    {% load static %}

    <!--Load css stylesheet-->
    <link rel="stylesheet" href="{% static '/dashboard/style.css' %}">
    
</head>


<body>
    <!--Links to main parts of dashboard-->
    <div class="header">
        <div class="links">
            <a href="{% url 'dashboard:index'%}">Overview</a>
            <a href="{% url 'dashboard:graphs'%}">Graphs</a>
            <a href="{% url 'dashboard:statistics'%}">Statistics</a>
        </div>  


            
        <div class="fileSelect">
        <!--Link to selecting loaded file-->
        <a href="{% url 'dashboard:select_file' %}" class="LoadFileButton">Select File</a>

        <!--Link to file uploading page-->
        <a href="{% url 'dashboard:load_file' %}" class="LoadFileButton">Load file</a>
        </div>
    </div>

    <!--Main part of graphs page-->
    <div class="main">
        <div class="sidebar">
        
        </div>
        
        <div class="verticalLine"></div>

        <div class="mainbar">
        
        </div>
        
    </div>
    
    <!--Load javascript file-->
    <script src="{% static 'dashboard/scripts.js' %}"></script>
</body>
</html>