<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluation Dashboard</title>
    {% load static %}

    <!--Load css stylesheet-->
    <link rel="stylesheet" href="{% static '/dashboard/style.css' %}">
    
</head>


<body>
    <!--Links to main parts of dashboard-->
    <div class="header">
        <div class="links">
            <a href="{% url 'dashboard:index'%}">Overview</a>
            <a href="{% url 'dashboard:graphs'%}">Graphs</a>
            <a href="{% url 'dashboard:statistics'%}">Statistics</a>
        </div>  


            
        <div class="fileSelect">

        
        <!--Link to selecting loaded file-->
        <a href="{% url 'dashboard:select_file' %}" class="LoadFileButton">Select File</a>
    
        <!--Link to file uploading page-->
        <a href="{% url 'dashboard:load_file' %}" class="LoadFileButton">Load file</a>
        </div>
    </div>

    <!--Main part of overview page-->
    <div class="main">
        <div class="sidebar">
        {{selectedValue}}
        </div>
        
        <div class="verticalLine"></div>

        <!--Place for table to load-->
        <div class="mainbar">
        
        {% if selectedData %}
            
            <table>
                <tr>
                    {% for name in header%}
                    <th>{{ name }}</th>
                    {% endfor %}
                </tr>
                {% for row in selectedData %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            
            <!--Pagination for the table-->
            <div>
                {% if selectedData.has_previous %}
                    <a href="?page=1">&laquo;</a>
                    <a href="?page={{selectedData.previous_page_number}}">Previous</a>
    
                {% endif %}
    
                Page {{selectedData.number}} of {{selectedData.paginator.num_pages}}
    
                {% if selectedData.has_next %}
                    <a href="?page={{selectedData.next_page_number}}">Next</a>
                    <a href="?page={{selectedData.paginator.num_pages}}">&raquo;</a>
    
                {%endif%}
            </div>
        {%else%}
            
            <table>
                <tr>File not found</tr>
            </table>
            
        {%endif%}
        </div>
        

        
        
        
    </div>
    
    <!--Load javascript file-->
    <script src="{% static 'dashboard/scripts.js' %}"></script>
</body>
</html>