<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load file</title>
    {% load static %}

    <link rel="stylesheet" href="{% static '/dashboard/loadFile.css' %}">
</head>
<body>
    <div class="formContainer">
    <form method='post' enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_div}}
        <input type="submit" value="Upload file" class="sendForm">
    </form>
    <a href="javascript:history.go(-1)">Back to main page</a>
    </div>  

    <script src="{% static 'dashboard/loadFile.js' %}"></script>
</body>
</html>